
.input{  
  width: 100%;
  // height: 21px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: right;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  line-height: inherit;
  // padding: 0 0 0 0;  
  margin: 0em;
  font: 13.3333px Arial;  
  background: '#FFFFFF'
}
