.SelectCheckbox{
    // padding: 0 !important;
  
    .md-icon-text{
      padding-right: 10px !important;
    } 
  }
  .SelectCheckbox-hidden-label{
    display: none;
  }
  .SelectCheckbox span.md-icon-text{
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .SelectCheckbox-list{
    z-index: 13;
  }
  