.container {      
    margin-left: auto;
    margin-right: auto;   
}

.form{
    width: '100%'
}

.message {  
    background: red
}

.input-container {  
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
  }
  
.error {
    color: darkred;  
  }
  
.info {
    color: rgba(0,0,0,0.74);  
  }